AuctionClient/Connected Services/ServiceReference1/AukzionLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AukzionLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AukzionLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lot" nillable="true" type="tns:Lot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLot" nillable="true" type="tns:ArrayOfLot" />
  <xs:complexType name="Lot">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuyerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="SoldPrice" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lot" nillable="true" type="tns:Lot" />
</xs:schema>